@theme "Arc-Dark.rasi"

listview {
  lines: 10;
}

configuration {
  display-drun: "Launcher";
  display-window: "Switch";
  window-format: "{c}   {w}   {t}";
  modi: "window,drun";
  show-icons: true;
  sort: true;
  sorting-method: "fzf";
  kb-cancel: "Escape,Alt+F1,Super_L+v,Super_L+V,Super_L+w,Super_L+W";
}
