@theme "Arc-Dark.rasi"

listview {
  lines: 10;
}

configuration {
  display-drun: "Launcher";
  display-window: "Switch";
  window-format: "{c}   {w}   {t}";
  display-run: "Command";
  modes: "drun,window,run";
  show-icons: true;
  sort: false;
  sorting-method: "fzf";
  kb-cancel: "Escape,Alt+F1,Super_L+v,Super_L+V,Super_L+w,Super_L+W,Super_L+r,Super_L+R";
}
